.divTextHome {
  position: absolute;
  color: #a7e3a7;
  top: 75vh;
  left: calc(50vw - 125px);
  width: 250px;
  height: 155px;
  text-align: center;
  text-shadow: 0 0 10px #b0eb6d;

  font-family: "Kumar One", serif;
  font-weight: 400;
  font-style: normal;
}

.textHomeText {
  /*padding: 0.5em;*/
}

.textHomeCountdown .designation {
  font-size: 0.2em;
}

.textHomeCountdown .number {
  font-size: 0.5em;
}
