.loginBtn {
  position: fixed;
  right: 0;
  bottom: 0;
  z-index: 10;
  margin: 2em;
  color: #eef7eb;
  background-color: blueviolet;
}

.loginBtn a {
  display: block;
  text-decoration: none;
  min-width: 100px;
  padding: 0.5em;
  border: 1px solid #d5dbdb;
  text-align: center;
  border-radius: 5px;
  color: inherit;
}
