.optionWrapper {
  position: fixed;
  right: 0;
  z-index: 5;
  text-align: right;
}

.Options {
  overflow: hidden;
  max-height: 0;
  transition: max-height 200ms ease 0s;
}

.Options.open {
  max-height: 500px;
  transition-duration: 1s;
}

.optionLabel {
  background: #d5dbdb;
  padding: 0.5em 1em;
  display: inline-flex;
  border-radius: 0px 0px 5px 15px;
  user-select: none;
}

.optionInner {
  background: #eef7eb;
  border-radius: 0px 0px 0px 15px;
  padding: 1em;
  border-bottom: 6px solid #d5dbdb;
  border-left: 6px solid #d5dbdb;
  vertical-align: baseline;
  display: inline-block;
}
