.optionWrapper {
  position: absolute;
  right: .5em;
  z-index: 500;
  text-align: right;
}

.optionWrapper:hover .Options {
  height: auto;
  padding: 1em;
  border-bottom: 6px solid #d5dbdb;
  border-left: 6px solid #d5dbdb;
}

.optionLabel {
  background: #d5dbdb;
  padding: 1em;
  display: inline-flex;
  border-radius: 0px 0px 5px 15px;
}

.Options {
  background: #eef7eb;
  border-radius: 0px 0px 0px 15px;
  overflow: hidden;
  height: 0;
  transition: all .5s ease 0s;
}

.Options span {
  display: block;
  letter-spacing: .85em;
}
