.selectionContainer {
  padding: 0;
  background-color: #eef7eb;
  border-bottom: 6px solid #d5dbdb;
  position: sticky;
  top: 0;
  z-index: 9;
  max-height: 500px;
  transition: transform 0.5s ease 0.5s;
  transform: translate(0, -100%);
}

.selectionContainer.visibleSelection {
  padding: 1em;
  transform: translate(0, 0);
}

.selection {
  display: grid;
  grid-template-columns: repeat(auto-fit, 120px);
  gap: 0.8em;
  height: 100%;
}

@media screen and (max-width: 950px) {
  .selection {
    grid-template-columns: repeat(auto-fit, minmax(60px, 1fr));
  }
  .blocSelection .blocSelectionVoters {
    font-size: 0.8em;
  }
  .blocSelection .blocSelectionCompte {
    scale: 0.8;
  }
}

@media only screen and (max-height: 600px) and (orientation: landscape) {
  .selection {
    grid-template-columns: repeat(auto-fit, 60px);
  }
  .blocSelectionVoters {
    font-size: 0.8em;
  }
}

.blocSelection {
  border: 1px solid #d5dbdb;
  display: flex;
  border-radius: 5px;
  background-color: #eef7eb;
  box-shadow: 1px 1px 5px #c8d2d2;
  position: relative;
  max-width: 120px;
  transform-origin: top;
}

.blocSelection:hover .blocSelectionVoters {
  scale: 1 1;
  border-radius: 0;
  background: #fff;
  color: inherit;
}

.blocSelectionImage {
  width: 100%;
  position: relative;
  display: flex;
  overflow: hidden;
  padding-bottom: 100%;
}

.blocSelectionImage img {
  width: 100%;
  height: 100%;
  filter: grayscale(100%);
  position: absolute;
  user-select: none;
}

.blocSelectionImage.select img {
  width: 100%;
  filter: grayscale(0%);
}

.blocSelectionCompte {
  position: absolute;
  display: inline;
  background-color: #0088fe;
  color: #fff;
  top: -7px;
  right: -7px;
  height: 32px;
  width: 32px;
  line-height: 32px;
  text-align: center;
  vertical-align: middle;
  border-radius: 50%;
  font-size: 20px;
  font-weight: bold;
  transition: scale 0.2s ease;
  scale: 1;
}

.blocSelectionVoters {
  position: absolute;
  top: 0;
  padding: 0.5em;
  background-color: #0988fe;
  color: #fff;
  display: flex;
  width: calc(100% - 1em);
  scale: 0 0.5;
  border-radius: 50%;
  transform-origin: top right;
  transition:
    border-radius 0.2s ease,
    scale 0.2s ease,
    background-color 0.2s ease,
    color 0.2s ease;
  user-select: none;
}

.blocSelection:hover .blocSelectionVoters {
  scale: 1 1;
  border-radius: 0;
  background-color: aliceblue;
  color: inherit;
}

.blocSelection:hover .blocSelectionCompte {
  scale: 0;
}

.blocSelectionButton {
  position: absolute;
  top: 100%;
  padding: 0.5em;
  background-color: #d5dbdb;
  left: 0;
  border-bottom-right-radius: 0.5em;
  cursor: pointer;
}
