.sessionContainer {
  overflow: auto;
  position: relative;
}

.choixNbrJoueurs {
  position: fixed;
  right: 0;
  margin: 1em;
  width: 4em;
}

.choixNbrJoueurs button {
  width: 4em;
  height: 4em;
  margin: 0.5em 0;
  font-size: 1em;
}

.sessionInner {
  display: grid;
  gap: 1rem;
  grid-template-columns: repeat(auto-fit, minmax(160px, 1fr));
  padding: 3em;
}

@media screen and (max-width: 900px) {
 .sessionInner {
    grid-template-columns: repeat(auto-fit, minmax(80px, 1fr));
    padding: 1em;
  } 
}